<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap" rel="stylesheet">
        <link href="display.css" rel="stylesheet">
        <link href="nav.css" rel="stylesheet">
    </head>
    <body>
        <div class="topnav">
            <a href="connect.html" >Connect with others</a>
            <a href="project.html">Project Ideas</a>
            <a href="job.html">Job search</a>
            <a href="#">Roadmaps</a>
            <a href="landingpage.html">Home</a>
        </div> 
        <h1>Project Ideas</h1>
        <div id='content'>
         <h2>Make a health app to stay fit!</h2>
         <h3>-Reckless Man</h3>
        <a href="pro7.html"><button>Another Idea</button></a>
        </div>
    </body>
</html>