body{
    background: url(background.png) #27272F;
    background-repeat: no-repeat;
    background-size: 1250px;
}
#content{
    width: 800px;
    height: 150px;
    background-color: #EEE4F2;
    margin: auto;
    margin-top: 20px;
}
h1{
    font-size: 40px;
    font-family: 'Spectral', serif;
    font-weight: normal;
    color: #EEE4F2;
    text-align: center;
}
button{
        cursor: pointer;
        width: 15%;
        height: 50px;
        text-align: center;
        background-color: #EEE4F2;
        opacity: 0.9;
        margin: 10px;
        position: absolute;
        top: 330px;
        left: 550px;
        font-family: 'Karla', sans-serif;
        font-weight: bold;
        font-size: 16px;
        outline: none;
}
h2{
    font-family: 'Spectral', serif;
    margin-top: 30px;
    margin-left: 10px;
    font-weight: normal;
    text-align: center;
    font-size: 32px;
}
h3{
    font-family: 'Spectral', serif;
    margin-left: 10px;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
}
p{
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    text-align: justify;
    margin: 20px;

}