body{
    background: url(background.png) #27272F;
    background-repeat: no-repeat;
    background-size: 1250px;
}
h1{
    font-size: 40px;
    font-family: 'Spectral', serif;
    font-weight: normal;
    color: #EEE4F2;
    text-align: center;
}
textarea{
    resize: none;    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #EEE4F2;
}
button{
    cursor: pointer;
    width: 15%;
    height: 50px;
    text-align: center;
    background-color: #EEE4F2;
    opacity: 0.9;
    margin: 10px;
    position: absolute;
    top: 340px;
    left: 800px;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
input{
	border-radius: 10px;
	border: solid 2px #EEE4F2;
    opacity: 0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    outline: none;
    width: 30%;
    height: 35px;
}
#idea{
    position: absolute;
    top:340px;
    left:270px;
    
}
#container{
    width: 800px;
    height: 130px;
    background-color: #EEE4F2;
    margin: auto;
    margin-top: 15px;
