<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap" rel="stylesheet">
        <link href="connect.css" rel="stylesheet">
        <link href="nav.css" rel="stylesheet">
    </head>
    <body>
        <div class="topnav">
            <a href="connect.html" >Connect with others</a>
            <a href="project.html">Project Ideas</a>
            <a href="job.html">Job search</a>
            <a href="landingpage.html">Home</a>
          </div>
          <h1>Connect with people</h1>
          <div id="display">
          <div id="container">
            <h2>Mary Kane</h2>
            <h3>Software Engineer</h3>
            <h4>America</h4>
        
          </div>
          <div id="container">
            <h2>Shelly Zhang</h2>
            <h3>Quality Assurance Engineer</h3>
            <h4>Canada</h4>
        
          </div>
          <div id="container">
            <h2>Sarah J. Smith</h2>
            <h3>Software Engineer</h3>
            <h4>UK</h4>
        
          </div>
          <div id="container">
            <h2>Dan O. Jones</h2>
            <h3></h3>Computer Engineer</h3>
            <h4>Italy</h4>
        
          </div>
          <div id="container">
            <h2>James Capello'</h2>
            <h3>Video Game Developer</h3>
            <h4>Americs</h4>
        
          </div>
          <div id="container">
            <h2>Talia Wright</h2>
            <h3>Computer Engineer'</h3>
            <h4>Canada</h4>
        
          </div>
          </div>
    </body>
</html>
