<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="/static/job.css" rel="stylesheet">
        <link href="/static/nav.css" rel="stylesheet">

        <title></title>
    </head>
    <body>
        <div id="container">
            <div class="topnav">
                <a href="#" >Connect with others</a>
                <a href="#">Project Ideas</a>
                <a href="jobsearch">Job search</a>
                <a href="#">Roadmaps</a>
                <a href="/">Home</a>

            </div>  
            <div id="content">
                <h1>Job Search</h1>

                <div id="">
                    <form action="/jobsearch" method="POST">
                        <input style="top: 200px; left: 390px;" type="text" placeholder="Job Title" id="title" name="title"><br>
                        <input style="top: 250px; left: 390px;" type="text" placeholder="Country: ex. United States" id="country" name="country"><br>
                        <button type="submit" >Search</button>
                    </form>
                </div>
            </div>
                           
        </div>

    </body>
</html>