<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="/static/job.css" rel="stylesheet">
        <link href="/static/nav.css" rel="stylesheet">

        <title></title>
    </head>
    <body>
        
            <div class="topnav">
                <a href="#" >Connect with others</a>
                <a href="project">Project Ideas</a>
                <a href="job">Job search</a>
                <a href="#">Roadmaps</a>
                <a href="/">Home</a>

            </div>
            <div id="container">  
            <div id="content">
                <h1>Job Search</h1>

                top: 200px;
    left: 390px;

                <div id="">
                    <input type="text" placeholder="Search for a Job" id="search" name="search"><br>
                    <input type="text" placeholder="Search for a Job" ><br>
                    <button type="submit">Search</button>
                </div>
                
            </div>                
        </div>

    </body>
</html>