<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="job.css" rel="stylesheet">
        <link href="nav.css" rel="stylesheet">

        <title></title>
    </head>
    <body>
        <div id="container">
            <div class="topnav">
                <a href="#" >Connect with others</a>
                <a href="#">Project Ideas</a>
                <a href="job.html">Job search</a>
                <a href="#">Roadmaps</a>
                <a href="landingpage.html">Home</a>

            </div>  
            <div id="content">
                <h1>Job Search</h1>

                <div id="">
                    <input type="text" placeholder="Search for a Job" id="search" name="search"><br>
                    <button type="submit">Search</button>
                </div>
                
            </div>

                           
        </div>

    </body>
</html>