<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
        <link href="/static/nav.css" rel="stylesheet">

        <title></title>
    </head>
    <body>
        <div id="container">
            <div class="topnav">
                <a href="#" >Women In Tech</a>
                <a href="#">Resources</a>
                <a href="#">Careers in Tech</a>
                <a href="#">Roadmaps</a>
                <a href="#">Home</a>

            </div>  
            <div id="content">
                <h1>Career Job Search</h1>
                <h2>In Tech</h2>

                <form action="/search.html" method="POST">
                    <input type="text" placeholder="Search for a Job.." id="search" name="search">
                    <button type="submit"></button>
                </form>
                
            </div>

                           
        </div>

    </body>
</html>