<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <link href="nav.css" rel="stylesheet">

        <title></title>
    </head>
    <body>
        <div id="container">
            <div class="topnav">
                <a href="#" >Connect with others</a>
                <a href="#">Project Ideas</a>
                <a href="jobsearch">Job search</a>
                <a href="#">Roadmaps</a>
                <a href="landingpage">Home</a>

              </div>  
            <div id="content">
                <h1>WOMEN</h1>
                <h2>In Tech</h2>
                <div id="para"><p>When it comes to women's participation in the workforce, the country has come a long way in the last few decades. According to a Catalyst survey, women account for nearly half of the workforce (46.9%).
                    Despite all of women's achievements, the tech industry does not seem to be a happy place for them. Women have had a hard time finding jobs in the software industry and other STEM fields for decades. In the STEM fields, there is a significant gender disparity between men and women. This disparity expresses itself in a variety of ways, including job prospects, salaries, leadership opportunities, organisational perception, and so on.</p></div>
                
            </div>
            <div id="img">
                <img src="https://cdn.dribbble.com/users/1741046/screenshots/10863058/media/249fd94fcd101e31b7c6f2d272eceb8f.png?compress=1&resize=1200x900">
            </div>
        
        </div>
    </body>
</html>
