<!DOCTYPE html>
<html>
    <head>
        <title>
            Projects
        </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="/static/project.css" rel="stylesheet">
        <link href="/static/nav.css" rel="stylesheet">
    </head>
    <body>
        
            <div class="topnav">
                <a href="connect" >Connect with others</a>
                <a href="project">Project Ideas</a>
                <a href="jobsearch">Job search</a>
                <a href="/">Home</a>
            </div>
            <div id="content">
                <h1>Project Ideas</h1>
                <input type="text" id="name" placeholder="Enter Your Name">
                <textarea wrap="off" id="ideas" name="ideas" rows="6" cols="100" placeholder="Submit Your Ideas!"></textarea>
                 <button id="submit">Submit</button>
                 <a href="projects/pro1.html"><button id="idea">Show me Project Ideas</button></a>
        </div>
        
        
    </body>
</html>
