<!DOCTYPE html>
<html>
    <head>
        <title>
            Projects
        </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Spectral:wght@200;300&display=swap" rel="stylesheet">
        <link href="/static/project.css" rel="stylesheet">
        <link href="/static/nav.css" rel="stylesheet">
    </head>
    <body>
        
            <div class="topnav">
                <a href="connect" >Connect with others</a>
                <a href="project">Project Ideas</a>
                <a href="jobsearch">Job search</a>
                <a href="/">Home</a>
            </div>
            <div id="content">
                <h1>Project Ideas</h1>
                <form action="/project" method="POST">
                    <input type="text" id="name" placeholder="Enter Your Name">
                    <textarea wrap="off" id="ideas" name="ideas" rows="6" cols="100" placeholder="Submit Your Ideas!"></textarea>
                    <button id="submit">Submit</button>
                </form>
                <a href="/pro1"><button id="idea">Show me Project Ideas</button></a><br>
                <br>
                <br>
                {% if posts != ""%}
                    <h1>Top Ideas</h1>
                    <div id="display">
                    {% for p in posts %}
                        <div id="container">
                          <h2>{{ p.description }}</h2>
                          <h3>{{ p.poster }}</h3>
                          <h4>{{ p.votes }}</h4>
                        
                        </div> 
                    {% endfor %}
                    </div>    
                {% endif %}
            </div>
        
    </body>
</html>
